h1 {
    color: white;
    text-align: center;
    padding: 40px;
    
}
hr {
    color: blue;
    line-height: 60px;
}

p {
    color: black;
    text-align: center;
}

.instructions {
    background: white;
    text-align: justify;
}